@import "~bootstrap/scss/bootstrap.scss";


.cardSample {
    background: #2DA879;
    display: flex;
    flex-direction: row;
    margin: 60px 60px;
    border-width: 18rem;
    border-color: black;
    align-items: center;
    padding : 3rem;
}


.Nav {
    background: rgb(60,219,158);
    background: linear-gradient(180deg, rgba(60,219,158,1) 17%, rgba(222,233,229,1) 100%);    display: flex;
}

.Nav__Icon {
    font-size: 4rem;
    margin: 2rem;
    color: #345C4D;
}

.Nav__Item {
    text-decoration: none;
}
.Nav__Item--Link {
    color: #345C4D;
    font-size: 1.8rem;
}
.Nav__Item--Link:hover {
    color: #4d8a73;
    text-decoration: underline;
}
.links__collums{
    margin: 1rem;
    
    align-items: center ;
    justify-content: center;
    color: #345c4d;
}
.footer{
    background: rgb(128,225,188);
background: linear-gradient(0deg, rgba(128,225,188,1) 38%, rgba(222,233,229,1) 96%);
    border-right: 1px solid #2da879;
    border-left: 1px solid #2da879;
}
.links{
    font-family: fantasy;
    align-items:center ;
    justify-content: center;
    padding: 5px;
}
.socialMedia{
    background-color:#2da879;
    font-family: fantasy;
    align-items:center ;
    justify-content: center;
    color: #80e1bc;
    border-radius: 10px;
    border: 1px solid #345c4d;
    padding: 10px;
}
.insta{
    background-color: #80E1BC;
    border-radius: 10px;
    border: 1px solid #345c4d;
    padding: 10px;
}
.linkedIn{
   background-color: #80E1BC;
   border-radius: 10px;
    border: 1px solid #345c4d;
    padding: 10px;
}
.facebook{
    background-color: #80E1BC;
    border-radius: 10px;
    border: 1px solid #345c4d;
    padding: 10px;
}
.twitter{
    background-color: #80E1BC;
    border-radius: 10px;
    border: 1px solid #345c4d;
    padding: 10px;
}



