@import "~bootstrap/scss/bootstrap.scss";



.Nav {
    background: rgb(60,219,158);
    background: linear-gradient(180deg, rgba(60,219,158,1) 17%, rgba(222,233,229,1) 100%);    display: flex;
}

.Nav__Icon {
    font-size: 4rem;
    margin: 2rem;
    color: #345C4D;
}

.Nav__Item {
    text-decoration: none;
}
.Nav__Item--Link {
    color: #345C4D;
    font-size: 1.8rem;
}
.Nav__Item--Link:hover {
    color: #4d8a73;
    text-decoration: underline;
}
